<!DOCTYPE html>
<html>
<head>
  <title>Deport</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Progamatic Bookshelf" %>
  </div>
  <div class="row" id="cloumns">
    <div class="col-xs-4 col-md-2" id="side">
      <div class="slide">
        <% if @cart %>
          <div id = "cart">
            <%= render @cart %>
          </div>
        <% end %>
        <br/>
        <a href="http://127.0.0.1:3000">Home</a><br/>
        <a href="http://127.0.0.1:3000">Question</a><br/>
        <a href="http://127.0.0.1:3000">news</a><br/>
        <a href="http://127.0.0.1:3000">Contact</a><br/>

        <% if session[:user_id] %>
          <br/>
          <%= link_to 'Orders', orders_path %><br/>
          <%= link_to 'Products', products_path %><br/>
          <%= link_to 'Users', users_path %><br/>
          <%= button_to 'Logout', logout_path, :method => :delete %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-8  col-md-10" id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
